.sidebar-container {
  width: 285px;
  background-color: #e8ecf3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition:
    width 0.3s ease,
    padding 0.3s ease;
  position: absolute;
  z-index: 99;
  height: calc(100vh - 130px);

  &.collapsed {
    width: 0px;
    padding: 0px;
  }
}

.sidebar-year-selector {
  background-color: white;
  padding: 0.75rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 0.875rem;
    color: #666;
  }

  select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background-color: white;
    cursor: pointer;
    outline: none;

    &:focus {
      border-color: #386be3;
    }
  }
}

.sidebar-events-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;

  h3 {
    font-size: 1rem;
    color: #333;
    font-weight: 600;
    flex: 1;
  }
  &.collapsed{
    display: none;
  }
}

.sidebar-toggle-btn {
  background-color: #e8ecf3;
  border: none;
  border-radius: 0px 8px 8px 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #333;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  right: -40px;

  &:hover {
    background-color: #386be3;
    color: white;
    border-color: #386be3;
  }
}

.sidebar-events-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: scroll;
  padding: 5px;
  &.collapsed {
    display: none;
  }
}

.event-item {
  background-color: white;
  padding: 0.875rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;

  &:hover {
    background-color: #f5f7fa;
  }

  &.active {
    background-color: #386be3;
    border-color: #386be3;

    .event-info h4,
    .event-info p {
      color: white;
    }
  }
}

.event-icon {
  font-size: 1.75rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 8px;
  flex-shrink: 0;

  .event-item.active & {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.event-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  h4 {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    margin: 0;
  }

  p {
    font-size: 10px;
    color: #333;
  }
}

@media (min-width: 900px) {
  .sidebar-container {
    height: calc(100vh - 80px);
    position: relative;
    &.collapsed {
      width: 285px;
      padding: 1rem;
    }
  }
  .sidebar-events-list {
    &.collapsed {
      display: flex;
    }
  }
  .sidebar-events-header {
    &.collapsed {
      display: block;
    }
  }
  .sidebar-toggle-btn{
    display: none;
  }
  
}
